# IDE
.vscode

# source
lib
tslint.json
tsconfig.json
.prettierrc
tsconfig.build.json
.test
yarn-error.log
yarn.lock
.eslintignore
.prettierignore
.eslintrc.js

# github
.github
CONTRIBUTING.md
renovate.json

# ci
.circleci